.header {
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 205px;
            display: flex;
            align-items: center;
            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
        
        .menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 500px;
            &__item {
                color: #000;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
                transition: all .2s;
                &:hover {
                    color: #69C6BA;
                }
            }
        }
    }
    
}