body {
    background-color: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}


.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15px;
}

.btn {
    height: 45px;
    background-color: #69C6BA;
    text-transform: uppercase;
    color: white;
    transition: all .3s;
    user-select: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #c66995;
}

.place-container {
    display: flex;
    align-items: center;
}
